<h1>Scrabble scores!</h2>
<form action='/result'>
  <div class="form-group">
    <label for="scrabble_word">Enter your Scrabble word</label>
    <input id="scrabble_word" name="scrabble_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
